@{
    ViewBag.Title = "WelcomeUser";
    Layout = "~/Views/Shared/View1.cshtml";
}
<h2 style="font-size:25px;color:black;font-weight:bold">&nbsp;<span style="font-size:25px;color:black;font-weight:bold">@ViewBag.Name</span></h2>
<h2>@ViewBag.user</h2>

<p style="text-align:center;font-size:80px;color:darkgreen ">Book your Tickets here!</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


