
@{
    ViewBag.Title = "WelcomeAdmin";
    Layout = "~/Views/Shared/View.cshtml";
}

<p style="font-size:25px;color:black;font-weight:bold;text-align:center;font-size:50px">Welcome Admin</p>
<br />
<br /><br /><br /><br /><br /><br /><br /><br />


<br />
<br />
<br />
<br />
<br /><br /><br /><br />