
@{
    ViewBag.Title = "View3";
}

<h1 class="text-center" style="font-size:60px"><bold>Payment process</bold></h1>

</br>
</br>
</br>
</br>
<head>
    <style>



        body {
            background-image: url('../Payment.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>


<style>
    body {
        background-color:hotpink
    }
</style>
    </head>
<div class="container">
    @RenderBody()
    <hr />
    <footer>
        <p style="color:white;background-color:black;height:25px;font-size:20px"><bold>&copy; @DateTime.Now.Year -My Flight Reservation System</bold></p>
    </footer>
</div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>

