
@{
    ViewBag.Title = "View2";
}


<head>
    <style>



        body {
            background-image: url('../payment.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>


    <div class="container-fluid  bg bg-danger ">
       
                <td>

                    <h1 style="font-family:Cambria">Payment Process</h1>



                </td>
      
       
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




