@{
    ViewBag.Title = "";
}

<h2>Welcome</h2>
<style>
    body {
        background-image: url('../../IMG-20201217-WA0001.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<body>
    <div class="jumbotron" >
        <h3>Note Down Your Registration Id For Future Use</h3>
        <h2 style="font-size:25px;color:black;font-weight:bold">Welcome&nbsp;<span style="font-size:25px;color:black;font-weight:bold">@ViewBag.Name</span></h2>

        <h2 style="font-size:25px;color:black;font-weight:bold">Your Id is &nbsp;<span style="font-size:25px;color:black;font-weight:bold">@ViewBag.Id</span></h2>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>

